# frozen_string_literal: true

require 'karafka'

class KarafkaApp < Karafka::App
  setup do |config|
    config.kafka.seed_brokers = %w( 127.0.0.1:9092 )
    config.client_id = 'example_app'
    config.redis = {
      url: 'redis://localhost:6379'
    }
    config.processing_adapter = Karafka.env.development? ? :inline : :sidekiq
    config.batch_consuming = true
  end

  consumer_groups.draw do
    # topic :example do
    #   controller ExampleController
    #   interchanger CustomInterchanger
    # end

    # consumer_group :bigger_group do
    #   topic :test do
    #     controller TestController
    #   end
    #
    #   topic :test2 do
    #     controller Test2Controller
    #   end
    # end
  end
end

KarafkaApp.boot!
