# Sample configuration file for Sidekiq.
# Options here can still be overridden by cmd line args.
# Place this file at config/sidekiq.yml and Sidekiq will
# pick it up automatically.

:verbose: true
:concurrency: 10

# Set timeout to 8 on Heroku, longer if you manage your own systems.
:timeout: 8

# Sidekiq will run this file through ERB when reading it so you can
# even put in dynamic logic, like a host-specific queue.
## http://www.mikeperham.com/2013/11/13/advanced-sidekiq-host-specific-queues/
#:queues:
#  - all
#  - high
#  - highest321

# you can override concurrency based on environment
production:
  :concurrency: 10
development:
  :concurrency: 1
test:
  :concurrency: 1
